@import '../../themes/ab';

.select {
  appearance: none;
  background-color: $select-background-color;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z" fill="#bfbfbf"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - 8px);
  border: 1px solid $border-color;
  box-shadow: 0 0 1px rgba(0,0,0, .1);
  height: 41px;
  font-size: inherit;
  font-weight: bold;
  outline: none;
  padding: 0 32px 0 16px;

  &:disabled {
    background-color: $select-background-color-disabled;
  }

  &.selected {
    background-color: $select-background-color-selected;
  }
}